<%- include('../partials/header') %>

<h2><%= title %></h2>

<form id="edit-vendor-form" action="/vendors/<%= vendor._id %>?_method=PUT" method="POST">
    
    <label class="raleway-bold">Name</label><br>
    <input class="vendor-name-edit" type="text" name="name" value="<%= vendor.name %>">
    <br><br>

    <label class="raleway-bold">Address</label><br>
    <textarea name="address" class="vendor-address-edit" cols="30" rows="10"><%= vendor.address %></textarea>
    <br><br>

    <label class="raleway-bold">Thoughts</label><br>
    <textarea name="thoughts" class="vendor-thoughts-edit" cols="30" rows="10"><%= vendor.thoughts %></textarea>


    <br><br>

    <input type="submit" value="Save Changes">

</form>

<br>
<a href="/vendors/<%= vendor._id %>/delete"><button class="large-button">Delete This Vendor</button></a>

<%- include('../partials/footer') %>