<%- include('../partials/header') %>

<h2><%= title %></h2>

<form id="edit-vendor-form" action="/vendors/<%= vendor._id %>?_method=PUT" method="POST">
    
    <label class="raleway-bold">Name</label><br>
    <input class="vendor-name-edit" type="text" name="name" value="<%= vendor.name %>">
    <br><br>

    <label class="raleway-bold">Address</label><br>
    <input class="vendor-address-edit" type="text" name="address" value="<%= vendor.address %>">
    <br><br>

    <label class="raleway-bold">Thoughts</label><br>
    <input class="vendor-thoughts-edit" type="text" name="thoughts" value="<%= vendor.thoughts %>">

    <br><br>

    <input type="submit" value="Save Changes">

</form>

<br>
<a href="/vendors/<%= vendor._id %>/delete"><button class="large-button">Delete This Vendor</button></a>

<%- include('../partials/footer') %>