<%- include('../partials/header') %>

  <div class="index-page-body">

    <div class="index-page-section">

        <div class="title">
          <%= title %>
        </div>

        <div class="index-page-new-form">
          <div class="raleway-bold">Add a New Vendor: </div>
  
          <form id="new-vendor-form-at-index" action="/vendors" method="POST">
            <input required type="text" name="name" data-lpignore="true" data-1p-ignore="true">
            <input type="submit" value="Add">
          </form>
        </div>

    </div>
    <br>

    <div class="index-page-section">

      <div class="table-container">

        <table id="vendor-list" class="index-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Thoughts</th>
              <th>Wines</th>
            </tr>
          </thead>
          <tbody>
            <% vendors.forEach(function(v) { %>
              <tr>
                <td><a href="/vendors/<%= v._id %>"><button class="normal textwrap tr-small">
                      <%= v.name %>
                    </button></a></td>
                <td >
                  <p class="overflow-hidden">

                    <%= v.address %>
                  </p>
                </td>
                <td>
                  <p class="overflow-hidden">
                    <%= v.thoughts %>
                  </p>
                </td>
                <td>
                  <% wines.forEach(function(w) { %>
                    <% if( w.vendors.includes(v._id)) { %>
                      <a href="/wines/<%= w._id%>"><button class="normal textwrap tr-small">
                        <%= w.name %>
                      </button></a>
                    <% } %>
                  <% }) %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <%- include('../partials/footer') %>