<%- include('../partials/header') %>

<h1><%= vendor.name %></h1>

<a href="/vendors/<%= vendor._id %>/edit"><button>Edit Vendor</button></a>


<section>
    <div class="label-d">
        <p class="label-p">Address</p>
    </div>
    <div class="value-d">
        <% if (vendor.address) { %> 
            <p class="value-p"><%= vendor.address %></p>
            <% } %>
        </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">Thoughts</p>
    </div>
    <div class="value-d">
        <% if (vendor.thoughts) { %> 
            <p class="value-p"><%= vendor.thoughts %></p>
            <% } %>
        </div>
</section><br>

    
    <%- include('../partials/footer') %>



