<%- include('../partials/header') %>

<br>
<h1><span class="raleway">Permanently delete </span><%= vendor.name %><span class="raleway">?</span></h1>

<div class="yes-no">
<form action="/vendors/<%= vendor._id %>?_method=DELETE" method="POST">
<button type="submit" class="extra-large-button">Delete</button>
</form>

<a href="/vendors/<%= vendor._id %>"><button class="extra-large-button">Cancel</button></a>
</div>


<%- include('../partials/footer') %>