<%- include('../partials/header') %>

<h2>My Thoughts on <%= wine.name %></h2>
<h3><%= new Date().toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"}) %></h3>

<form id="new-note-form" action="/wines/<%= wine._id %>/notes" method="POST">

    <label>Vintage</label>
    <select name="vintage">
        <% let year = new Date().getFullYear() %> 
        <%-  `<option value="${year}">${year}</option>` %>
        <%-  `<option value="unknown">unknown</option>` %>
        <%    for (let i = 1; i < 101; i++) { %>
        <%-  `<option value="${year - i}">${year - i}</option>` %>
        <% } %>
    </select>
  
    <label>My Rating</label>
    <input type="range" name="rating" min="1" max="5">

    <label>Notes</label>
    <input type="text" name="body">

    <input type="submit" value="Save Note">

</form>

<%- include('../partials/footer') %>
