<%- include('../partials/header') %>

<br>
<h2><%= wine.name %> <span class="raleway">is made by:</span></h2>



<form id="new-maker-form" action="/wines/<%= wine._id %>/makers/new" method="POST">
  <label class="raleway-bold">Create New Maker: </label><br>
  <input required type="text" name="name" class="type-input" data-lpignore="true" data-1p-ignore="true">
  <input type="submit" value="Add">
</form><br>

<form id="add-saved-maker" action="/wines/<%= wine._id %>/makers" method="POST">
  <label class="raleway-bold">Choose Saved Maker: </label><br>
  <select required name="makerId" class="type-input">
    <option value=""></option>
    <%- makers.map(m => 
      `<option value="${m._id}">${m.name}</option>`
      ).join('') %>
  </select>
  <button type="submit" class="large-button light-button">Add</button>
</form>

<%- include('../partials/footer') %>