<%- include('../partials/header') %>

<br>
<h1><%= title %></h1>
<br>
<form id="change-maker-name" action="/makers/<%= maker._id %>?_method=PUT" method="POST">
    
    <label class="raleway-bold">Change Name?</label><br>
    <input class="type-edit" type="text" name="name" value="<%= maker.name %>">

    <input type="submit" value="Save">
</form>

<br><br>
<section>
    <div class="label-d button-label type-wines">
        <p class="label-p raleway-bold">Wines</p>
    </div>
    <div class="multi type-wines">
        <% if (wines.length) { %> 
            <% wines.forEach(function(w) { %>
                <div>
                    <a href="/wines/<%= w._id %>"><p class="value-p"><%= w.name %></p></a>
                </div>
            <% }) %>
        <% } %>
    </div>
</section>



<br>
<br>
<a href="/makers/<%= maker._id %>/delete"><button class="large-button">Delete This Maker</button></a>

<%- include('../partials/footer') %>