<%- include('../partials/header') %>

<h2><%= title %></h2>

<% wines.forEach(function(w) { %>
    <a href="/wines/<%= w._id %>"><button><%= w.name %></button></a>
    <% }) %>

<%- include('../partials/footer') %>