<%- include('../partials/header') %>

<h2><%= title %></h2>
<!-- <a href="/wines/new"><button>Add a Wine</button></a>
<br>
<br> -->

<form id="new-wine-form-at-index" action="/wines" method="POST">
    <label>Create New Wine: </label>
    <input type="text" name="name">
    <input type="submit" value="Add">
  </form>

<table id="wine-list" class="index-table">
    <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Maker</th>
          <th>Vendors</th>
          <th>Latest Note</th>
        </tr>
    </thead>
    <tbody>
        <% wines.forEach(function(w) { %>
            <tr>
            <td>
                <% if (w.name) { %> 
                <a href="/wines/<%= w._id %>"><button><%= w.name %></button></a>
                <% } %>
            </td>

            <td>
                <% if (w.type) { %> 
                <a href="/types/<%= w.type._id %>"><button><%= w.type.name %></button></a>
                <% } %>
            </td>

            <td>
                <% if (w.maker) { %> 
                <a href="/makers/<%= w.maker._id%>"><button><%= w.maker.name %></button></a>
                <% } %>
            </td>

            <td>
                <% if (w.vendors) { %> 
                    <% w.vendors.forEach(function(v) {%>
                        <% if (v.name) { %>
                            <a href="/vendors/<%= v._id%>"><button><%= v.name %></button></a>
                        <% } %>
                    <% }) %>
                
                <% } %>
            </td>

            <td>
                <% if (w.notes) { %> 
                    <% w.notes.forEach(function(n) {%>
                        <% if (n.createdAt) { %>
                            <p><%= n.createdAt %></button></p>
                        <% } %>
                    <% }) %>
                
                <% } %>
            </td>

        </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>
