<%- include('../partials/header') %>

<h1><%= wine.name %></h1>

<section>
    <div class="label-d">
        <p class="label-p">Type</p>
        <a href="/wines/<%= wine._id %>/types"><button>Edit</button></a>
    </div>
    <div class="value-d">
        <% if (wine.type) { %> 
            <p class="value-p"><%= wine.type.name %></p>
        <% } %>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">My Rating</p>
    </div>
    <div class="value-d">
        <p class="value-p">(calculation)</p>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">Maker</p>
        <a href="/wines/<%= wine._id %>/makers"><button>Edit</button></a>
    </div>
    <div class="value-d">
        <% if (wine.maker) { %> 
            <p class="value-p"><%= wine.maker.name %></p>
        <% } %>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">Tags</p>
        <button>Edit</button>
        <!-- make divs for each one and a delete button for each -->
    </div>
    <div class="value-d">
        <% if (wine.tags.length) { %> 
            <p class="value-p"><%= wine.tags %></p> 
            <!-- probably need a for each here -->
        <% } %>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">Vendors</p>
        <a href="/wines/<%= wine._id %>/vendors"><button>Edit</button></a>
        <!-- make divs for each one and a delete button for each -->
    </div>
    <div class="value-d">
        <% if (wine.vendors.length) { %> 
            <% vendors.forEach(function(v) { %>
                <div class="vendor">
            <p class="value-p"><%= v.name %></p>
            <a href=""></a>
                </div>
        <% }) %>
        <% } %>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">Notes</p>
        <a href="/wines/<%= wine._id %>/notes/new"><button>New Note</button></a>

        <!-- each note should have an edit button, you can delete from edit page too -->
    </div>
    <div class="value-d">
        <% if (notes) { %> 
            <% notes.forEach(function(n) { %>
            <div class="note">
                <div class="date">
                    <%= n.createdAt.toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"}) %>
                </div>
                <a href="<%- `/notes/${n._id}/edit` %>"><button>Edit</button></a>
                <div class="updated">
                    <%= n.updatedAt.toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"}) %>
                </div>
                <div class="vintage">
                    <%= n.vintage %>
                </div>
                <div class="rating">
                    <%= n.rating %>
                </div>
                <div class="body">
                    <%= n.body %>
                </div>
            </div>
            <% }) %>
        <% } %>
    </div>
</section><br>

<a href="/wines/<%= wine._id %>/delete"><button>Delete This Wine</button></a>
</form>

<%- include('../partials/footer') %>