<%- include('../partials/header') %>

<h1><%= wine.name %></h1>

<section>
    <div class="label-d">
        <p class="label-p">Type</p>
        <a href="/wines/<%= wine._id %>/types"><button>Edit</button></a>
    </div>
    <div class="value-d">
        <% if (wine.type) { %> 
            <p class="value-p"><%= wine.type.name %></p>
        <% } %>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">My Rating</p>
    </div>
    <div class="value-d">
        <p class="value-p">(calculation)</p>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">Maker</p>
        <a href="/wines/<%= wine._id %>/makers"><button>Edit</button></a>
    </div>
    <div class="value-d">
        <% if (wine.maker) { %> 
            <p class="value-p"><%= wine.maker.name %></p>
        <% } %>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">Tags</p>
        <button>Add</button>
        <!-- make divs for each one and a delete button for each -->
    </div>
    <div class="value-d">
        <% if (wine.tags) { %> 
            <p class="value-p"><%= wine.tags %></p> 
            <!-- probably need a for each here -->
        <% } %>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">Vendors</p>
        <button>Add</button>
        <!-- make divs for each one and a delete button for each -->
    </div>
    <div class="value-d">
        <% if (wine.vendors) { %> 
            <p class="value-p"><%= wine.vendors %></p>
        <% } %>
    </div>
</section><br>

<section>
    <div class="label-d">
        <p class="label-p">Notes</p>
        <a href="/wines/<%= wine._id %>/notes/new"><button>New Note</button></a>

        <!-- each note should have an edit button, you can delete from edit page too -->
    </div>
    <div class="value-d">
        <% if (wine.notes) { %> 
            <p class="value-p"><%= wine.notes %></p>
        <% } %>
    </div>
</section><br>

<form action="/wines/<%= wine._id %>?_method=DELETE" method="POST">
<button type="submit">Delete This Wine</button>
</form>

<%- include('../partials/footer') %>